/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
    .top-bar {
        height: 34px;
        font-size: 12px;
        padding-top: 4px;
    }
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .top-bar {
        /* height: 34px; */
        font-size: 5px;
        /* padding-top: 4px; */
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .top-bar {
        /* height: 34px; */
        font-size: 9px;
        /* padding-top: 4px; */
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .top-bar {
        /* height: 34px; */
        font-size: 13px;
        /* padding-top: 4px; */
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
    .top-bar {
        /* height: 34px; */
        font-size: 16px;
        /* padding-top: 4px; */
    }
}